test/
nanopore.bed.gz
#nanopore.error10a-canu/
#nanopore.error10a.fasta
#nanopore.error10b-canu/
#nanopore.error10b.fasta
#nanopore.error10c-canu/
#nanopore.error10c.fasta
#nanopore.exact.fasta
20210122/
20210203/
MAP006-PCR-1_2D_pass.fasta
archive/nanopore.error10a.fasta
archive/nanopore.error10b.fasta
archive/nanopore.error10c.fasta
archive/nanopore.exact.fasta
archive/nanopore.exact.forwardonly.fasta
archive/nanopore.exact.reverseonly.fasta
test-20210120/
hla/
